<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Tap Details</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h2>Tap Details</h2>

    <form action="" method = "POST">
        <div class="form-group row">
          <label for="id">Id</label>
          <input type="text" class="form-control" name="access" id="access" value="{{tap.access}}">
        </div>
        <div class="form-group row">
            <label for="name">Maker and Model</label>
            <input type="text" class="form-control" name="address" id="address" value="{{tap.address}}">
        </div>
        <div class="form-group row">
            <label for="year">Make Year</label>
            <input type="text" class="form-control" name="city" id="city" value="{{tap.city}}">
        </div>
        <div class="form-group row">
            <label for="price">Sell Price</label>
            <input type="text" class="form-control" name="description" id="description" value="{{tap.description}}">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
</body>