<!DOCTYPE html>
<html lang="en-US" dir="ltr">
<head>
    <title>Tap Details</title>
    
    <link rel="stylesheet" crossorigin="anonymous"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" >
    
	<script crossorigin="anonymous"
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" >
	</script>

</head>

<body>
    <h2>Tap Details</h2>

    <form action="" method = "POST">
        <div class="form-group row">
          <label for="access">Access</label>
          <input type="text" class="form-control" name="access" id="access" value="{{tap["access"]}}">
        </div>
        <div class="form-group row">
            <label for="address">Address</label>
            <input type="text" class="form-control" name="address" id="address" value="{{tap["address"]}}">
        </div>
        <div class="form-group row">
            <label for="city">City</label>
            <input type="text" class="form-control" name="city" id="city" value="{{tap["city"]}}">
        </div>
        <div class="form-group row">
            <label for="description">Description</label>
            <input type="text" class="form-control" name="description" id="description" value="{{tap["description"]}}">
        </div>
        <div class="form-group row">
            <label for="filteration">Filteration</label>
            <input type="text" class="form-control" name="filteration" id="filteration" value="{{tap["filteration"]}}">
        </div>
        <div class="form-group row">
            <label for="gp_id">GP ID</label>
            <input type="text" class="form-control" name="gp_id" id="gp_id" value="{{tap["gp_id"]}}">
        </div>
        <div class="form-group row">
            <label for="handicap">Handicap</label>
            <input type="text" class="form-control" name="handicap" id="handicap" value="{{tap["handicap"]}}">
        </div>
        <!-- <div class="form-group row">
            <label for="hours">Hours</label>
            <input type="text" class="form-control" name="hours" id="hours" value="{{tap["hours"]}}">
        </div> -->
        <div class="form-group row">
            <label for="lat">Lattitude</label>
            <input type="text" class="form-control" name="lat" id="lat" value="{{tap["lat"]}}">
        </div>
        <div class="form-group row">
            <label for="lat">Longitude</label>
            <input type="text" class="form-control" name="lon" id="lon" value="{{tap["lon"]}}">
        </div>
        <div class="form-group row">
            <label for="norms">Norms</label>
            <input type="text" class="form-control" name="norms" id="norms" value="{{tap["norms"]}}">
        </div>
        <div class="form-group row">
            <label for="organization">Organization</label>
            <input type="text" class="form-control" name="organization" id="organization" value="{{tap["organization"]}}">
        </div>
        <div class="form-group row">
            <label for="permanently_closed">Permanently Closed</label>
            <input type="text" class="form-control" name="permanently_closed" id="permanently_closed" value="{{tap["permanently_closed"]}}">
        </div>
        <div class="form-group row">
            <label for="phone">Phone</label>
            <input type="text" class="form-control" name="phone" id="phone" value="{{tap["phone"]}}">
        </div>
        <div class="form-group row">
            <label for="quality">Quality</label>
            <input type="text" class="form-control" name="quality" id="quality" value="{{tap["quality"]}}">
        </div>
        <div class="form-group row">
            <label for="service">Service</label>
            <input type="text" class="form-control" name="service" id="service" value="{{tap["service"]}}">
        </div>
        <div class="form-group row">
            <label for="statement">Statement</label>
            <input type="text" class="form-control" name="statement" id="statement" value="{{tap["statement"]}}">
        </div>
        <div class="form-group row">
            <label for="status">Status</label>
            <input type="text" class="form-control" name="status" id="status" value="{{tap["status"]}}">
        </div>
        <div class="form-group row">
            <label for="tap_type">Tap Type</label>
            <input type="text" class="form-control" name="tap_type" id="tap_type" value="{{tap["tap_type"]}}">
        </div>
        <div class="form-group row">
            <label for="statement">Statement</label>
            <input type="text" class="form-control" name="statement" id="statement" value="{{tap["statement"]}}">
        </div>
        <div class="form-group row">
            <label for="tapnum">Tap Number</label>
            <input type="text" class="form-control" name="tapnum" id="tapnum" value="{{tap["tapnum"]}}">
        </div>
        <div class="form-group row">
            <label for="vessel">Vessel</label>
            <input type="text" class="form-control" name="vessel" id="vessel" value="{{tap["vessel"]}}">
        </div>
        <div class="form-group row">
            <label for="zip_code">Zip Code</label>
            <input type="text" class="form-control" name="zip_code" id="zip_code" value="{{tap["zip_code"]}}">
        </div>
        <button type="btnAdd" class="btn btn-primary">Submit</button>
        <a href="/" class="btn btn-primary">Cancel</a>
      </form>
</body>